body {
    width: 100%;
    height: 100vh;
    background: linear-gradient(45deg, #1d1d1f,#0d101b, #161e36);
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.container {
    width: 500px;
    height: 90dvh;
    background-color: #1d1d1f;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.153);
    border-radius: 10px;
}


.menu {
    width: inherit;
    display: flex;
    flex-direction: row;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
}

.menu a {
    font-family: "Red Hat Display", sans-serif;
    font-size: 10pt;
    margin: 0 10px;
    font-weight: 600;
    color: white;
    border-style: none;
    text-align: center;
    text-decoration: none;
}

.menu a:hover {
    background-color: #86868600;
    color: rgb(209, 51, 51);
}

.menu #title {
    width: max-content;
    color: rgb(115, 34, 197);
    font-family: "Archivo Black", sans-serif;
    margin: 10px 50px 10px 10px;
}


.table {
    display: flex;
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.table2 {
    display: flex;
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.table2 img#first.player-pic,
.table2 img#second.player-pic,
.table2 img#third.player-pic {
    border: 2px solid grey;
}



hr {
    width: 80%;
    color: rgba(112, 112, 112, 0.199);
}

.container #hl {
    font-family: "Poppins", sans-serif;
    font-size: small;
    text-decoration: none;
    margin-left: 50px;
}
.top-table {
    height: 70px;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 2fr 1.5fr;
    grid-template-areas: "pos player-name trophy";
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
    color: rgb(233, 233, 233);
    font-family: "Poppins", sans-serif;
    text-transform: capitalize;
    font-weight: 500;
    margin-bottom: 10px;
}

.table-title {
    width: 80%;
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    text-transform: capitalize;
    font-weight: 300;
    
}

#position {
    grid-area: pos;
}

.player-pos {
    grid-area: player-pos;
}

.player-pic  {
    grid-area: player-pic;
}

img#first{
    border: 2px solid rgba(30, 190, 8, 0.842);
}

img#second{
    border: 2px solid rgb(55, 24, 228);
}

img#third{
    border: 2px solid rgb(207, 11, 11);
}

.player-name {
    grid-area: player-name;
}

.player-trophy {
    grid-area: player-trophy;
}


#trophy {
    grid-area: trophy;
}

.top-table h2 {
    margin: 0 0px;
    text-align: center;
    font-size: 14pt;
    color: #9b9b9b;
}


.player {
    width: 70%;
    height: 80px;
    display: grid;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 1.5fr 0.9fr;
    grid-template-areas: "player-pos player-pic player-name player-trophy ";
}

.player img {
    height: 48px;
    border-radius: 50%;
    margin-right: 20px;
    margin-left: 10px;
}

.player h2 {
    color: white;
    font-family: "Roboto", sans-serif;
    text-transform: capitalize;
    font-weight: 400;
    font-size: 12pt;
    text-align: center;
}

.player h2:nth-child(1) {
    color: red;
}

.player h2:nth-child(3) {
    text-align: left;
}



@media screen and (max-width: 574px) {
    body {
        max-width: 1440px;
        height: 100dvh;
    }

    
    .container {
        width: 100%;
        height: 100svh;
    }

    .menu #title {
        font-size: 14pt;
        color: rgb(115, 34, 197);
    }

    .menu a {
        font-size: 8pt;
        text-transform: capitalize;
    }

    .top-table h2 {
        font-size: 12pt;
        
    }

    hr {
        width: 80%;
        color: rgba(112, 112, 112, 0.144);
    }

    .player h2 {
        font-size: 14pt;

    }

    .player h2:nth-child(3) {
        text-align: start;
        margin-left: 5px;
    }

    .player img {
        width: 48px;
        height: 48px;
        margin-left: 5px;
        margin-right: 10px;
    }
}
